<?xml version="1.0" encoding="utf-8" ?>
<siteMap>
  <siteMapNode SystemName="Home" appResourceName="Admin.Home" controller="Home" action="Overview">
    <siteMapNode SystemName="Dashboard" appResourceName="Dashboard" controller="Home" action="Index" IconClass="fa-desktop" />
    <siteMapNode SystemName="Categorize" appResourceName="Categorize" PermissionNames="ManageCategories" IconClass="fa-book" >
      <siteMapNode SystemName="Categories" appResourceName="Categories" PermissionNames="ManageCategories" controller="Category" action="List" IconClass="fa-dot-circle-o"/>
    </siteMapNode>
    <siteMapNode SystemName="Settings" appResourceName="Settings" PermissionNames="ManageSettings" IconClass="fa-gears">
      <siteMapNode SystemName="All settings" appResourceName="All settings" controller="Setting" action="AllSettings" IconClass="fa-genderless"/>
    </siteMapNode>
    <siteMapNode SystemName="System" appResourceName="System" PermissionNames="ManageSystemLog" IconClass="fa-cube">
      <siteMapNode SystemName="Log" appResourceName="Log" PermissionNames="ManageSystemLog" controller="Log" action="List"  IconClass="fa-dot-circle-o"/>
    </siteMapNode>
  </siteMapNode>
</siteMap>

