<ul class="sidebar-menu" data-widget="tree">
    <li class="header">MAIN NAVIGATION</li>
    <li>
        <a href="/Admin" class="menu-item-link">
            <i class="fa fa-desktop"></i>
            <span class="menu-item-title">Dashboard</span>
        </a>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-book"></i>
            <span>categorize</span>
            <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            <li>
                <a href="/Admin/Log/List" class="menu-item-link">
                    <i class="fa fa-dot-circle-o"></i>
                    <span class="menu-item-title">category</span>
                </a>
            </li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-cube"></i>
            <span>System</span>
            <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            <li>
                <a href="/Admin/Log/List" class="menu-item-link">
                    <i class="fa fa-dot-circle-o"></i>
                    <span class="menu-item-title">Log</span>
                </a>
            </li>
        </ul>
    </li>
</ul>